%h1 Log in

%form{:action => admin_session_path, :method => 'POST'}
  %p 
    = label_tag(:email)
    = text_field_tag(:email)
  %p 
    = label_tag(:password)
    = password_field_tag(:password)
  %p 
    = hidden_field_tag :authenticity_token, form_authenticity_token
    = submit_tag 'Log in'
    
