!!!

%html
  %head
    %title Dealer
    = stylesheet_link_tag 'screen'
    = formtastic_stylesheet_link_tag 
    = google_font_link_tag 'Lobster'
    = favicon_link_tag
  
  %body
    #content
      = yield
