!!!

%html
  %head
    %title Poker Night
    = google_font_link_tag 'Lobster'
    = stylesheet_link_tag 'screen'
    = formtastic_stylesheet_link_tag
    = favicon_link_tag

  %body
    .row#content
      .column.grid_10
        = yield
